<div class="row_table">
  <div class="table1">
    <div class="title_table">TỔNG THỂ VỀ Dự ÁN</div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Chi phí dự án</th>
          <td>$2,500,000</td>
        </tr>
        <tr>
          <th scope="row">Hiện tại đã chi</th>
          <td>$2,500,000</td>
        </tr>
        <tr>
          <th scope="row">Còn lại</th>
          <td>$2,500,000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table1">
    <div class="title_table">THÀNH VIÊN CỦA NHÓM</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Khu Vực</th>
          <th scope="col">Số Lượng Nhân Viên</th>
          <th scope="col">Nhân Viên Tạm Nghỉ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">East</th>
          <td>5</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Weat</th>
          <td>5</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">South</th>
          <td>5</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">North</th>
          <td>5</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
