<div class="card" style="width: 100%">
  <div class="card-header">Trưởng nhóm</div>
  <div class="card-img">
    <img
      src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t39.1997-6/47216445_2150119185040854_3777985020338110464_n.png?stp=dst-png_s168x128&_nc_cat=1&ccb=1-7&_nc_sid=0572db&_nc_ohc=BNmpX48H34QAX-kf32Q&_nc_ht=scontent.fsgn5-3.fna&oh=00_AT_eP8l48lhAeLHtLMAMB8ZgUpi3W92rUnTahqqTCo_CcA&oe=629F23BC"
      class="card-img-top"
      alt=""
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">POLY TECHNIC</h5>
    <p class="card-text">Tóm tắt về team</p>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Số lượng thành viên
      <span class="badge bg-primary rounded-pill">{{ listNv.length }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Tổng chi phí của tất cả dự án
      <span class="badge bg-primary rounded-pill">{{ totalPrice }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Các task đang xử lý
      <span class="badge bg-primary rounded-pill">{{ totalTask }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Dự án đang triển khai
      <span class="badge bg-primary rounded-pill">20%</span>
    </li>
  </ul>
  <div class="card-body">
    <p class="card-text">Khách hàng</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ABC Cake Ltd.</li>
    <li class="list-group-item">DEF Software Solutio</li>
    <li class="list-group-item">GHI Industries</li>
  </ul>
</div>
