<div class="card" style="width: 100%">
  <div class="card-header">Trưởng nhóm</div>
  <div class="card-img">
    <img
      src="https://scontent.xx.fbcdn.net/v/t39.1997-6/13065765_1578941109102350_133650441_n.png?stp=dst-png_s168x128&_nc_cat=1&ccb=1-7&_nc_sid=0572db&_nc_ohc=RA3HoliY3UgAX8ckywH&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=00_AT-vyRSpsqflsVOBB3Jf67FOCQs-HlPQ93xaO-8EARSi0g&oe=628BB421"
      class="card-img-top"
      alt=""
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">POLY TECHNIC</h5>
    <p class="card-text">Tóm tắt về team</p>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Số lượng thành viên
      <span class="badge bg-primary rounded-pill">{{ listNv.length }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Tổng chi phí của tất cả dự án
      <span class="badge bg-primary rounded-pill">{{ totalPrice }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Các task đang xử lý
      <span class="badge bg-primary rounded-pill">15</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Dự án đang triển khai
      <span class="badge bg-primary rounded-pill">20%</span>
    </li>
  </ul>
  <div class="card-body">
    <p class="card-text">Khách hàng</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ABC Cake Ltd.</li>
    <li class="list-group-item">DEF Software Solutio</li>
    <li class="list-group-item">GHI Industries</li>
  </ul>
</div>
