<h4 class="bg-warning p-2">DANH SÁCH TASK</h4>
<div *ngFor="let task of listTask" class="mb-3 task">
  <div class="width80">
    <b>{{ task.tenTask }} </b><br />
    <span class="fz9">
      {{ task.moTa }}
    </span>
  </div>
  <div class="mb-3 mt-1 border-bottom row">
    <div class="col-5">
      Độ ưu tiên: {{ task.priority == 1 ? "Gấp" : "Không gấp" }}<br />
      Trạng thái:
      {{
        task.status == 1
          ? "Đang chờ"
          : task.status == 2
          ? "Hoàn thành"
          : "Đang sửa lỗi"
      }}
    </div>
    <div class="col-6">
      <div *ngFor="let nv of listNV">
        <span *ngIf="task.nhanvienID == nv.id"
          >Nhân viên: {{ nv.ho + " " + nv.ten }}</span
        >
      </div>
      <div *ngFor="let da of listDuAn">
        <span *ngIf="task.duAnID == da.id">Dự án: {{ da.tenDuAn }}</span>
      </div>
    </div>
  </div>
  <div class="btn-task">
    <button
      type="button"
      class="btn btn-outline-warning"
      (click)="editTask(task)"
    >
      Sửa
    </button>
    <button
      type="button"
      class="mt-2 btn btn-outline-danger"
      (click)="deleteTask(task.id)"
    >
      Xóa
    </button>
  </div>
</div>
